body {
    background: #ffffff !important;
}

.form-control {
    background: #fffcf4;
}


.brand-logo {
    border-right: none;
}

.header, .brand-logo,span.perfil {
    background: #1c87de;
}
ul#menu {
    margin: 135px 0 0 0;
}
#menu li {
    padding-left: 0;
}
li.mm-active {
    border-left: 8px #1c87de solid;
}
li.mm-active.active-no-child {
    border-left: 6px #ff6682 solid !important;
}
#menu li a i {
    color: #fff;
}
li.mm-active.active-no-child i {
    color: #1c87de !important;
}
th.sorting {
    color: #ff6682 !important;
}
.btn-primary {
    color: #1673bf;
    background-color: #1c87de5c;
    border-color: #3084c7;
}

#menu li a{
    border-radius: 0
}

span.perfil {
    display: block;
    text-align: center;
    color: #fff;
    padding: 0px 0 40px 0;
    
}


.deznav,.footer {
    background:#1c87de !important;
}

a.ai-icon.mm-active {
    background: #fefefe !important;
}
.deznav li a {
    border-bottom: 1px #ffffff45 solid;
}

.container-fluid, .content-body {
    background: #f3f3f3;
}

.nav-header .brand-title {
    margin-left: 10px;
    max-width: 203px;
    margin-top: 5px;
    margin: auto;
}
.alert-success {
    background: #f0fff8;
    border-color: #b7f6db;
    color: #1BD084;
}
ul#menu .has-arrow {
    font-size: 13px;
    padding: 13px 0px 18px 24px;
}
#menu .has-link{
    font-size: 13px;
    padding: 13px 0px 18px 24px;
}
.error{
    font-size: 11px;
}

.bg-success {
    background-color: #aef7d88f !important;
    border-left: 3px #1ecc93 solid;
}
.bg-warning {
    background-color: #ff9f5a47 !important;
    border-left: 3px #fba052 solid;
}
.bg-danger {
    background-color: #ff674652 !important;
    border-left: 3px red solid;
}

/*==============================toastr============================*/
.toast {
    opacity: 1 !important;
}
.toast-success {
    background-color: #abeca6;
    border: 1px #16da34 solid;
    border-left: 5px #27d03c solid;
}
.toast-success .toast-title, .toast-success .toast-message {
    color: green;
}


/*===========================admisiones =================================*/


.acciones .icono {
    font-size: 26px;
    background: #ff668229;
    /* display: block; */
    color: #fff;
    border-radius: 25px;
    width: 45px;
    height: 45px;
}
.acciones a.active{
    background: #ff6682;
}

/*=============================================================*/
ul.menu {
    display: flex;
    justify-content: center;
}
ul.menu li {
    background: #ec3469;
    margin: 10px;
    color: #fff;
}
ul.menu li a {
    color: #fff;
    padding: 18px 15px;
    display: block;
    border: 1px #1c87de dashed;
}
#menu-admin h1 {
    text-align: center;
    font-family: fantasy;
    margin: 43px 0 25px 0;
}
#menu-admin h4{
    text-align: center;
}

ul#submenu li {
    padding: 0;
}

li.nav-item a {
    color: #ed0b4c !important;
    font-family: 'Roboto';
    font-weight: bold;
}